<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaymentReturnScheme</key>
	<string>hotelia</string>
	<key>MoMoPartnerCode</key>
	<string>MOMO</string>
	<key>MoMoAccessKey</key>
	<string>F8BBA842ECF85</string>
	<key>MoMoSecretKey</key>
	<string>K951B6PE2cbCzbiXgzQtxVN7OuTIm+0x/d57Qy6Si2DAsYyuIzFhz9LvImQoEmd</string>
	<key>MoMoEndpoint</key>
	<string>https://test-payment.momo.vn/v2/gateway/api/create</string>
	<key>MoMoIpnUrl</key>
	<string>https://hotelia.app/payment/momo/ipn</string>
	<key>VNPayTmnCode</key>
	<string>2QXUI4J4</string>
	<key>VNPayHashSecret</key>
	<string>RAOEXHYVSDDIIENYWSLDIIZTANXUXZFJ</string>
	<key>VNPayPaymentUrl</key>
	<string>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</string>
	<key>OpenWeatherAPIKey</key>
	<string>8ff885aa6cce5897224ccf0665e7199d</string>
	<key>CloudinaryCloudName</key>
	<string>dmc7g558o</string>
	<key>CloudinaryUploadPreset</key>
	<string>Dulich</string>
	<key>AdminSecretPassword</key>
	<string>040905</string>
</dict>
</plist>
